

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<main id="main">
    
    <section class="single-post-content">
        
        <h1>Please Select Blog To View Content!</h1>

    </section>

</main>
