
@model List<TravelBlogWeb.Models.BlogLike>
@{
    ViewBag.Title = "Likes";
    Layout = "~/Views/Shared/_PanelLayout.cshtml";
}
<div class="content-page">
    <div class="content">

        <div class="container mt-4">
            <h2>User Likes</h2>
            <table class="table table-bordered light-theme text-black">
                <thead class="text-center">
                    <tr>
                        <th>Blog Id</th>
                        <th>Blog Name</th>
                        <th>User Id</th>
                        <th>User Name</th>
                    </tr>
                </thead>
                <tbody class="text-center">
                    @foreach (var item in Model)
                    {

                        <tr>
                            <td>@item.BlogPost.Id</td>
                            <td>@item.BlogPost.Title</td>
                            <td>@item.User.Name</td>
                            <td>@item.User.Id</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>




    </div>

</div>
