@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<main aria-labelledby="title">
    <main id="main">
        <section>
            <div class="container" data-aos="fade-up">
                <div class="row">
                    <div class="col-lg-12 text-center mb-5">
                        <h1 class="page-title">About us</h1>
                    </div>
                </div>

                <div class="row mb-5">

                    <div class="d-md-flex post-entry-2 half">
                        <a href="#" class="me-4 thumbnail">
                            <img src="https://www.istanbulturkeytravel.com/wp-content/uploads/2020/08/x2.jpg" alt="" class="img-fluid">
                        </a>
                        <div class="ps-md-5 mt-4 mt-md-0">
                            <div class="post-meta mt-4">About us</div>
                            <h2 class="mb-4 display-4">Company History</h2>
                            <p>Discover the beauty and diversity of Turkey's 81 provinces through our blog. As passionate travelers and storytellers, we aim to bring you captivating narratives and stunning visuals that showcase the rich history, vibrant culture, and breathtaking landscapes of each region.</p>
                            <p>Our journey began with a shared love for exploration and a deep appreciation for the unique experiences that each city in Turkey has to offer.Over the years, we have had the privilege of immersing ourselves in the local cultures, tasting the diverse cuisines, and capturing the essence of Turkey's enchanting destinations. Our mission is to share these experiences with you, inspiring your own adventures and fostering a deeper connection to the extraordinary beauty of Turkey.</p>
                        </div>
                    </div>

                    <div class="d-md-flex post-entry-2 half mt-5">
                        <a href="#" class="me-4 thumbnail order-2">
                            <img src="https://nilatrip.com/wp-content/uploads/2021/07/nature-turkey-nila.jpg" alt="" class="img-fluid">
                        </a>
                        <div class="pe-md-5 mt-4 mt-md-0">
                            <div class="post-meta mt-4">Mission &amp; Vision</div>
                            <h2 class="mb-4 display-4">Mission &amp; Vision</h2>
                            <p>Our mission is to passionately showcase the enchanting tapestry of Turkey's 81 provinces, each with its unique stories waiting to be told. Through our blog, we aim to illuminate the cultural diversity, historical richness, and natural beauty that define the essence of each city. We are dedicated to providing a platform that transcends boundaries, fostering a global appreciation for the treasures hidden within the heart of Turkey.</p>
                            <p>In envisioning the future, our goal is to inspire curiosity and a profound connection to Turkey's rich heritage. We aspire to be a guiding light for travelers, offering immersive insights into the distinct character of every province. As we navigate through bustling cities, serene landscapes, and historic landmarks, our vision is to cultivate a sense of wonder, inviting explorers from around the world to embark on their own unique journey through the captivating mosaic of Turkey's provinces.</p>
                        </div>
                    </div>

                </div>

            </div>
        </section>

        

    </main>
</main>